@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans.woff2') format('woff2');
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    font-family: 'Noto Sans', system-ui, sans-serif;;
    font-weight: 600;
}

button {
    cursor: pointer;
    background-color: unset;
    border: none;
    padding: 0;
}

a {
    text-decoration: none;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

[type="checkbox"], [type="radio"] {
    padding: 0;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}


.skeleton {
    animation: 2s ease-in-out 0.5s infinite pulse;
    background-color: #F3F4F9;
    border-top-color: transparent;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}